@model MedicalCRM.Models.UserModels.ChangePassword

@{
    ViewData["Title"] = "ChangeDoctorPassword";
}



<h4>Поменять пароль пользователю @Model.DoctorName </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeDoctorPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Поменять пароль" class="btn btn-primary" />
            </div>
            @Html.HiddenFor(model => model.DoctorId);
        </form>
    </div>
</div>

