@model MedicalCRM.Models.UserModels.UserRegistrationViewModel
@{
    ViewData["Title"] = "Регистрация доктора";
}

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="" method="post">
            <h2>Регистрация нового пользователя</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
                <div class="form-floating">
                <input asp-for="Surname" class="form-control" autocomplete="surname" aria-required="true" />
                <label asp-for="Surname"></label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Patronimic" class="form-control" autocomplete="patronimic" aria-required="true" />
                <label asp-for="Patronimic"></label>
                <span asp-validation-for="Patronimic" class="text-danger"></span>
            </div>
                <div class="form-floating">
                <label asp-for="Sex"></label>
                @Html.DropDownListFor(model => model.Sex, ViewBag.Sex as SelectList, new { @class = "form-select"})
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
             <div class="form-floating">
                <input asp-for="BirthDate" class="form-control" autocomplete="birthdate" aria-required="true" />
                <label asp-for="BirthDate"></label>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <input type="submit" value="Добавить доктора" class="btn btn-primary" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
