@model MedicalCRM.Business.Models.MedicamentDTO

@{
    ViewData["Title"] = "AddMedicamentPartial";
}

<hr />
<div class="d-flex ">
    <div class="col-md-4 row">
        <form asp-action="AddMedicament" asp-controller="Recept">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicamentName" class="control-label"></label>
                <input asp-for="MedicamentName" class="form-control" />
                <span asp-validation-for="MedicamentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
            @Html.HiddenFor(model => model.ReceptId);
        </form>
    </div>
</div>

