@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="fbody">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Министерство здравоохранения и социального развития КР центр семеной медицины #5, городского управления здравоохранения
                </th>
                <th>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </th>
                <th>
                    <span>Код формы по ОКУД</span>
                    <span>Код учреждения по ОКПО</span>
                    <span>Медицинская документация</span>
                    <span>Форма # 107-1/у</span>
                    <span>Утверждена приказом</span>
                    <span>Министерства здравоохранения</span>
                    <span>Кыргызской республики</span>
                    <span>от 20 декабря 2022 г.</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <center> <h1>Рецепт</h1></center>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <center> Взрослый детский - нужное подчеркнуть</center>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>



    <div>
        <p>ФИО пациента </p>
        <p>Возраст </p>
        <p>ФИО семейного врача </p>
    </div>

    <body>
    <div class="fbody">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Препарат
                </th>
                <th>
                    Количество
                <th>
                    Заметки
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>