@using MedicalCRM.Business.Services.Interfaces;
@using System.Security.Claims
@inject IPatientManager SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @User.FindFirstValue(ClaimTypes.Name);
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Выйти из учетной записи</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Patient" asp-page="/Login">Войти в учетную запись</a>
    </li>
}
</ul>
