@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Если вы хотите открыть свой личный кабинет, то можете авторизоваться тут: <a class="nav-link text-dark" asp-controller="Patient" asp-action="Login">Посмотреть мед карту</a>.</p>
</div>
