@model MedicalCRM.Models.AddPhotoViewModel

@{
    ViewData["Title"] = "AddPhoto";
}

<h1>AddPhoto</h1>

<h4>AddPhotoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPhoto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @Html.HiddenFor(m => m.DoctorId)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

